.canvas3 {
	width: 800;
	height: 600;
	border: 2px solid #006;
	-moz-border-radius: 5px;      /* Gecko browsers */
	-webkit-border-radius: 5px;   /* Webkit browsers */
	border-radius: 5px;            /* W3C syntax */
}
body {
	background-color: #001;
}
.panel {
	position: absolute;
	top: 15px;
	left: 35px;
	z-index:99;
	color: #FFF;
}