<div class="widget-wrap">
   <h3 class="widget-title">链接</h3>
   <div class="widget">
      <ul class="entry">
         <li><a href="https://space.bilibili.com/454422438" title="bilibili" target="_blank">WXYHLY(Hqak)的B站链接</a></li>
         <li><a href="http://hadroncfy.com" title="hadroncfy" target="_blank">Hadroncfy's Notebook</a></li>
      </ul>
   </div>
</div>